.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2022_10_19__21_11__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2022_10_19,_21_11_[Changes]/shelved.patch
